# Amazon Promotion Monitor Configuration (Example)

# Copy this file to '.env' and fill in your details
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1504574897576480910/9x4V088uAeLHdDpiRm2QVV9nwkxb20wryvf4dnSu32CH8V9TIzQ_RMhfBM4yl8YNGCkV
AMAZON_PROMO_URL=https://www.amazon.fr/promotion/psp/A26013IELTKPDW
SCAN_INTERVAL_MS=10000
HEADLESS=true
TIMEOUT_MS=30000
PRODUCT_PAGE_CACHE_MS=0
AMAZON_ASSOCIATE_TAG=botbluray-21
ENABLE_PRODUCT_PAGE_SCRAPE=false
BROWSER_RECYCLE_INTERVAL=150
